body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.lvov .navbar-inverse .navbar-nav > a,
.lvov .navbar-inverse .navbar-nav > a:focus,
.lvov .navbar-inverse .navbar-nav > a:hover {
    background-color: #444;
    color: #ccc;
}

.lvov .navbar-inverse .navbar-nav > .active > a,
.lvov .navbar-inverse .navbar-nav > .active > a:focus,
.lvov .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #444;
    color: #ccc;
}

.lvov .navbar-inverse {
    background-color: #aaa;
    border-color: #080808;
}

.header-logo {
    margin-right: 15px;
}

.lvov .nav > li {
    margin: 0 5px;
    display: inline-block;
}

    .lvov .nav > li.header-logo {
        vertical-align: top;
    }

.lvov .navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.nav > li.header-logo > a {
    padding: 0 15px 0 0;
}

    .nav > li.header-logo > a > img {
        max-width: 50px;
    }

.lvov .navbar-inverse .navbar-nav > li > a {

}

.material-block{
    margin: 10px;
}

.group-block {
    margin: 10px;
}

.lvov .form-control.delete {
    background: #ff6666;
}

.shoes-block {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}

.shoes-name {
    font-weight: 600;
    color: maroon;
}

.oldIdLvl2 {
    visibility: hidden;
}

.preview-image {
    max-width: 50%;
    float: left;
    margin: 0 12px 5px 0;
    cursor: pointer;
}

.filters input,
.filters select {
    width: 20%
}

.form-control.size {
    width: 25%
}

.size.active {
    background: #F7FFF3;
}

.dropdowns-filter.active {
    background: #F3FFFF;
}

/*.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-12 {
    transition: all 100ms;
}*/

.shoes-block.col-sm-6{
    height: 200px;
}
.shoes-block.col-sm-4 {
    height: 240px;
}
.shoes-block.col-sm-3 {
    height: 250px;
}

.modal-title {
    display: inline-block;
}

.shoes-details {
    display: none;
    padding-top: 7px;
}

    .shoes-details p {
        display: none;
        padding-left: 10px;
        padding-right: 10px;
    }

.wait {
    margin-left:10px;
    
}
.wait img {
    width: 40px;
    height: 40px;
}